* {
	font-family: sans-serif;
}

.content-center {
	max-width: 1000px;
	margin: 0 auto;
}

/*header*/

.header {
	background-image: url(../img/bcg-head.png);
}

.header__menu {
	display: flex;
	justify-content: flex-end;
	width: 85%;
	margin: 0 auto;
	padding-top: 60px;
}

.header__menu--toggle {
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	color: #000;
	font-size: 23px;
}

.header__menu--toggle:before {
	content:'\2630';
}

.header__title {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	font-weight: 300;
	letter-spacing: 2px;
	padding-top: 150px;

}

.header__subtitle {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 60%;
	margin: 15px auto;
	color: #8c9398;
	font-weight: 300;
}

.header__position--btn {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 315px;
}

.header__position--btn a {
	text-align: center;
}

.header__btn {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	background-color: #3dc9b3;
	border: 1px solid #3dc9b3;
	border-bottom: 3px solid #309383;
	border-radius: 3px;
	padding: 22px 52px;
}


/*toggle menu*/

#nav-icon {
	position: relative;
	width: 30px;
	height: 40px;
	z-index: 10;
	/* Bring icon ontop of overlay */
	cursor: pointer;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#nav-icon span {
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	background: #00D0B6;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0px;
}

#nav-icon span:nth-child(2) {
	top: 10px;
}

#nav-icon span:nth-child(3) {
	top: 20px;
}

#nav-icon.animate-icon span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon.animate-icon span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon.animate-icon span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

#overlay {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

#overlay div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#overlay ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

#overlay li {
	padding: 30px;
}

#overlay ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}


/*promo-info*/

.promo {
	background-color: #f3f5f8;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
	padding-top: 100px;
}

.title__position {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.title__space {
	display: flex;
    justify-content: space-between;
    width: 40%;
}

.title__line {
    width: 230px;
	border-bottom: 2px dotted #8c9398;
}

.promo__position {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
}

.promo__text {
	color: #8c9398;
	text-align: center;
    line-height: 1.8;
    padding-top: 75px;
    padding-bottom: 130px;
}

/*service*/

.service-position {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 90px auto;
}

.service__item {
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.service__item h3 {
	font-weight: 400;
	text-transform: uppercase;
}

.service__item span {
	width: 50px;
	border-bottom: 3px solid #3dc9b3;
}

.service__item p {
	color: #8c9398;
	font-weight: 300;
	width: 81%;
	text-align: center;
	line-height: 1.4;
}

/*description - jobs*/

.description__slider {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.item {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	transition: all 0.5s;
}

.item:hover {
	flex-basis: 70%;
}

.item a {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: 0 0 10px #000;
}

.item-1 {
	background: url(../img/bcg-description-1.jpg) no-repeat center center;
	background-size: cover;
}

.item-2 {
	background: url(../img/bcg-description.png) no-repeat center center;
	background-size: cover;
}

@media (max-width: 640px) {
	.description__slider {
		height: 100vh;
		flex-flow: column;
	}

	.item {
		width: 100%;
	}

	.item:hover {
		flex-grow: 30%;
	}
}

/*portfolio*/

.img {
	width: 80%;
}

.portfolio-position {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 90px auto;
}

.portfolio__item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portfolio__item a {
	text-decoration: none;
	color: #000;
}

.portfolio__item a:hover {
	color: #fed136;
	opacity: 0.7;
	transition: 0.3s;
}

.portfolio__item h3 {
	font-weight: 400;
	text-transform: uppercase;
}

.portfolio__item span {
	width: 50px;
	border-bottom: 3px solid #3dc9b3;
}

.portfolio__item p {
	color: #8c9398;
	font-weight: 300;
	width: 81%;
	text-align: center;
	line-height: 1.4;
}

/*call-to-action part*/

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #242830;
}

.btn-cta {
	border: 1px solid #fff;
	padding: 20px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.btn-cta:hover {
	border: 1px solid #fed136;
	color: #fed136;
	opacity: 0.7;
	transition: 0.3s;
}

.cta a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;

}

/*team*/

.team--container {
	margin: 70px auto;
}

.team__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.team__wrap--item {
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.team__wrap--item h3 {
	font-weight: 400;
	text-transform: uppercase;
}

.team__wrap--item span {
	width: 50px;
	border-bottom: 3px solid #3dc9b3;
}

.team__wrap--item p {
	color: #8c9398;
	font-weight: 300;
	width: 81%;
	text-align: center;
	line-height: 1.4;
}

.team__social--wrpa {
	width: 40%;
}

.team__social--wrpa ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

.team__social--wrpa ul li {
	list-style: none;
	display: flex;
}

.team__social--wrpa a {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-decoration: none;
	background-image: url(../img/socials.png);
}

.social-1 {
	background-position: 0px 0px;
}

.social-1:hover {
	background-image: url(../img/socials-hover.png);
	background-position: 0px 0px;
}

.social-2 {
	background-position: -50px 0px;
}

.social-2:hover {
	background-image: url(../img/socials-hover.png);
	background-position: -50px 0px;
}

.social-3 {
	background-position: -103px 0px;
}

.social-3:hover {
	background-image: url(../img/socials-hover.png);
	background-position: -103px 0px;
}

/*subscribe*/

.subscribe {
	height: 330px;
	background: url(../img/bcg-subscribe.png) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.subscribe p {
	color: #fff;
	font-weight: 300;
}

.subcsribe__position {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

input {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 9px;
	margin-right: 5px;
}
.subscribe__btn {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	background-color: #3dc9b3;
	padding: 10px 20px;
	border: none;
	border-radius: 2px;
}

/*contacts*/

.contact {
	background-color: #f3f5f8;
}

.contact__wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	margin: 0 auto;
}

.contact__wrap--item {
	width: 350px;
	height: 150px;
	background: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.contact__wrap--item span {
	color: #3dc9b3;
	text-transform: uppercase;
}

.contact__wrap--item p {
	color: #8c9398;
	margin: 0;
	padding: 0;
}

.contact__wrap--item a {
	text-decoration: none;
	color: #8c9398; 
}

.contact__wrap--item a:hover {
	color: #000;
}
